/* Tipografía y estilo para el subtítulo */
.highlight-text {
    display: block;
    font-size: 24px; /* Tamaño de fuente más grande */
    font-family: 'Righteous', sans-serif; /* Tipografía llamativa */
    color: #ffffff; /* Color de texto */
    background-color: #A31E1E; /* Color de fondo rojo vinotinto */
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold; /* Tipografía más gruesa */
    border: 2px solid #A31E1E; /* Borde color rojo vinotinto */
  }
  
  /* Estilo para el iframe */
  .styled-iframe {
    border: 5px solid #A31E1E; /* Bordes alrededor del mapa */
    border-radius: 8px; /* Bordes redondeados */
  }
  .custom-card {
    background-color: #fff; /* Color de fondo blanco */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  .custom-card .card-body {
    padding: 20px; /* Espaciado interno */
  }
  
  .custom-card .card-body:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra al pasar el cursor */
  }

  .custom-button {
    background-color: #A31E1E; /* Color rojo vinotinto */
    border-color: #A31E1E; /* Color del borde */
    color: #ffffff; /* Color del texto */
    font-weight: bold; /* Negrita */
  }
  
  .custom-button:hover {
    background-color: #8C1717; /* Color rojo vinotinto más oscuro al pasar el cursor */
    border-color: #8C1717; /* Borde más oscuro */
  }