/* Estilos personalizados para el Header */
.header-bg {
  position: relative;
  background-image: url('../components/img/Img1legion.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.051);
  height: 50vh;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(8, 8, 8, 0.579);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.header-content {
  position: relative;
  z-index: 2;
  width: 100%;
}

.logo-img {
  width: 80px; /* Ajusta este tamaño según tus necesidades */
  height: auto;
}

.Academia {
  font-size: 7vw; /* Ajusta el tamaño del texto según el ancho de la ventana */
  text-align: center;
  word-wrap: break-word;
  color: rgb(255, 246, 246);
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
  .header-bg {
    height: auto;
    min-height: 150px;
  }

  .logo-img {
    width: auto; /* Ajusta este tamaño según tus necesidades */
  }

  .logo-text {
    font-size: 8vw; /* Ajusta el tamaño del texto según el ancho de la ventana */
  }
}

@media (max-width: 576px) {
  .logo-img {
    width: 150px; /* Ajusta este tamaño según tus necesidades */
  }

  .Academia {
    font-size: 5vw; /* Ajusta el tamaño del texto según el ancho de la ventana */
  }
}

.navbar-custom {
  background: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.club {
  color: #ece66d;
  font-family: 'Southland', sans-serif;
  font-style: italic; /* Agrega cursiva */
  font-size:60px;
}
