.hero {
  position: relative;
  color: #fff;
  display: flex;
  justify-content: relative;
  align-items: center;
  height: 100vh; /* Ajustar altura según diseño */
  overflow: hidden; /* Oculta el desbordamiento del contenido */
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../components/img/bgLegion.png'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  opacity: 0.4; /* Opacidad de la imagen de fondo */
}
.btn-whatsapp {
  background-color: #25D366 !important;
  border-color: #25D366 !important;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Center the button */
}

.btn-whatsapp:hover {
  background-color: #20b358 !important;
  border-color: #20b358 !important;
}

/* Animation for the button */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate__pulse {
  animation: pulse 2s infinite;
}

.mr-2 {
  margin-right: 8px;
}

.course-video {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; /* Ajuste del tamaño del video */
}
.text2{
  color: black !important;
}
.courses-container {
  max-width: 100%;
  width: 100%;
}

.btn-group .btn-animation {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .btn-group .btn-animation {
    margin: 10px 0;
    display: block;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .btn-group {
    flex-direction: column;
  }

  .btn-group .btn-animation {
    margin: 10px 0;
    display: block;
    width: 100%;
  }
}