/* Estilos personalizados para Instructors.js */
.section {
    background-color: #f8f9fa !important; /* Color de fondo claro */
  }
  
  .card {
    border: none; /* Elimina el borde de las tarjetas */
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05); /* Agrandamiento suave al pasar el cursor */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para las tarjetas */
  }
   .card-body{
    background-color: #A31E1E;
   }
  
  .card-title {
    color: #A31E1E; /* Color del título en rojo vinotinto */
    font-family: 'Montserrat', sans-serif; /* Tipografía Montserrat */
    font-weight: 500;
  }
  
  .card-text {
    color: #151515; /* Color del texto en negro */
    font-family: 'Southland', serif; /* Tipografía Southland */
  }
  
  .bg-light {
    background-color: #fff5f5 !important; /* Color de fondo amarillo claro */
  }
  
  @media (max-width: 768px) {
    .card-title {
      font-size: 1.5rem; /* Ajuste del tamaño de fuente para dispositivos móviles */
    }
    .card-text {
      font-size: 1rem; /* Ajuste del tamaño de fuente para dispositivos móviles */
    }
  }
  